*{ 
    padding:0; 
    margin:0; 
} 
body{ 
    background-color:#000; 
} 
td{ 
    width:20px; 
    height:20px;
	transition:background-color 0.1s linear;
	padding:0; 
    margin:0; 
}
tr{
	padding:0; 
    margin:0; 
}
table{
	border-collapse: collapse;
}
.blank{ 
    background-color:black; 
}
.unlock{ 
    background-color:gray; 
}
.pl2{ 
    background-color:lime; 
}
.pink{
	background-color:pink; 
}
.key{
	background-color:yellow; 
}
.current{ 
    background-color:white; 
} 
.wall{ 
    background-color:green; 
} 
.finish{ 
    background-color:red; 
} 
.gate1{
    background-color:LightSlateGrey; 
} 
 