@font-face {
    font-family: MonsterFont;
    src: url("../resources/HVD_Rowdy.ttf");
}

.bg {
    background-color: #212120;
}

.image{
	display: flex;
    align-items: center;
    justify-content: center;
	text-align: center;
}

.image img{
	width: 100%;
    height: auto;
    max-width: 800px;
}

.help{
	width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

h1 {
    color: White;
    text-decoration: none;
    
}
h2 {
	color: SlateGray;
}


input[type=submit] {
	background-color: DarkSlateGray;
    border: none;
        font-family:MonsterFont;
    color: White;
    padding: 14px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	width:30%;
}