@font-face {
    font-family: MonsterFont;
    src: url("../resources/HVD_Rowdy.ttf");
}

.btn {
    position: relative;
    background-color: #BBB8af;
    border:none;
    border-radius: 9%; 
    font-size: 40px;
    font-family: MonsterFont;
    text-align: center;
    display:inline-block;
    width: 500px;
    height: 60px;
}

.btn:after {
    position: absolute;
    top: 94.7%;
    left: 50%;
    margin-left: -50%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 11px #aba8a0;
    border-left: solid 250px transparent;
    border-right: solid 250px transparent;
}   