*{ 
    padding:0; 
    margin:0; 
} 

body{
    background: #212120;
}

td{ 
    width:20px; 
    height:20px;
	transition:background-color 0.1s linear;
	padding:0; 
    margin:0; 
}

tr{
	padding:0; 
    margin:0; 
}

table{
	border-collapse: collapse;
}

p{
	color: white;
}

.logo {   
     text-align:center;
     margin:0.5rem;
}

.blank{ 
    background-color:black; 
}
.unlock{ 
    background-color:gray; 
}
.pl2{ 
    background-color:lime; 
}
.pink{
	background-color:pink; 
}
.key{
	background-color:yellow; 
}
.current{ 
    background-color:white; 
} 
.wall{ 
    background-color:green; 
} 
.finish{ 
    background-color:red; 
} 
.gate1{
    background-color:LightSlateGrey; 
} 

.middle-column {
	margin-top: 2%;
	position: relative;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
	
	align-items: center;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align:center;
    align-content: center;
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}
 