body{
    height: 100%;
    margin: 0;
}

 .monster-robi{
	position: absolute;
    background-image: url("../resources/robi_monster.png");
	background-repeat: no-repeat; 
	background-position: top right;
	
	
	width: 100%;
	height:100%;
 }
 
 .monster-juan{
	position: absolute;
    background-image: url("../resources/Juan_monster.png");
	background-repeat: no-repeat;
	background-position: left top;
	z-index: 1;
	
	width: 100%;
	height:100%;
  
 }
 
 .logo { 
	width: 50%;
	height: 200px;
	margin: auto;
    padding: 10px;
	margin-top: 25px;
    background-image: url("../resources/logo_monster.png");
	background-repeat: no-repeat; 
	background-position: center;
}

.bg {
    background-color: #212120;
}

table {
	width:90%;
	margin: 1 auto;
	border-collapse: collapse;
	border-spacing: 0;
}

th {
   /* background-color: #404040;*/
   background: linear-gradient(#262626 0%,#121212 100%);
	color: #9FA1A3; 
	font-weight: bold;
	height: 40px;
	
}

th, td {
    padding: 15px;
    text-align: center;
}
tr:nth-child(odd) {background-color: #121212;}

tr:nth-child(even) {background-color: #262626;}

tr:first-child th:first-child { 
  border-radius: 25px 0 0 0; 
}

tr:first-child th:last-child { 
  border-radius: 0 25px 0 0; 
}

tr:last-child td:last-child { 
  border-radius:  0 0 25px 0; 
}

tr:last-child td:first-child { 
  border-radius: 0 0 0 25px;
}

.container {
  width: 100%;
  height: 100%;
}

.top-div {
  width: 100%;
  height: 200px;
 /* background-color: red;*/
   border-collapse: collapse;
}

.left-column {
	position: relative;
    width: 30%;
    height: 100%;
    float: left;
  /*  background-color: blue;*/
    border-collapse: collapse;
}

.middle-column {
	position: relative;
    width: 40%;
    height: 100%;
    float: left;
   /* background-color: red;*/
    border-collapse: collapse;
}

.right-column {
  width: 30%;
  height: 100%;
  position: relative;
  float: right;
  /*background-color: yellow;*/
  border-collapse: collapse;
}
