body{
    height: 100%;
    margin: 0;

    background-color: #212120;
    
}

h1, h2, h3, h4, h5, h6{
    margin-top:2px;
    margin-bottom:0;
  }

@font-face {
    font-family: MonsterFont;
    src: url("../resources/HVD_Rowdy.ttf");
}

@media only screen and (max-width: 835px){
    h1 {
        font-family: MonsterFont;
        font-size: 25pt;
        color: white;
        text-align: center;
       
    }

    .kid{
        display: none;
    }
    .woman {
        display: none;
    }
    
    .robi-img {
        display: none;
    }
    
    .juan-img{
        display: none;
    }

    label{
        
        font-family: MonsterFont; 
        font-size: 15px;
        color: white;
        display: flex;
        margin-top: 5px;
    }

    input[type=text], select {
        font-family: MonsterFont;
        font-size: 10px;
        width: 77%;
        height: 3%;
        padding: 12px 20px;
        margin: 3px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit] {
        font-size: 10px;
        font-family: MonsterFont;
        width: 77%;
        height: 3%;
        background-color: rgb(16, 24, 16);
        color: white;
        padding: 14px 20px;
        margin: 3px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
    }
    
form{
    margin-top:5%;
}
}

@media only screen and (min-width: 835px){
h1 {
    font-family: MonsterFont;
    font-size: 50pt;
    color: white;
    text-align: center;
   
}


form{
    margin-top:20%;
}
label{
    
    font-family: MonsterFont; 
    font-size: 25px;
    color: white;
    display: flex;
   
}

input[type=text], select {
    font-family: MonsterFont;
    width: 87%;
    height: 7%;
    padding: 12px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    font-family: MonsterFont;
    width: 87%;
    height: 7%;
    background-color: rgb(16, 24, 16);
    color: white;
    padding: 14px 20px;
    margin: 3px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

}




input[type=submit]:hover {
    background-color: #070c07;
}

.form-container {
    border-radius: 5px;
    background-image: url("../resources/login_form.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 40px;
    width:20%;
    height: 80%;
    min-height: 60%;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    
   
}


.title{
    margin-top: 40px;
    position: fixed;
    top:2%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title1{
    margin-top: 2%;
    position: fixed;
    top:15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.kid {
    width: 50%;
    position: fixed;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.woman{
    width: 50%;
    position: fixed;
    top: 60%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.monster-robi {
    width: 50%;
    position: fixed;
    top: 60%;
    left: 78%;
    transform: translate(-50%, -50%);
}

.monster-juan {
    width: 50%;
    position: fixed;
    top: 60%;
    left: 22%;
    transform: translate(-50%, -50%);
}

.form-container_register{
    
    border-radius: 5px;
    background-image: url("../resources/register_form.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 40px;
    width:20%;
    height: 80%;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.robi-img
{
    height:412px;
     width:442px;
    -webkit-animation: robimove 7s infinite; /* Safari 4.0 - 8.0 */
    animation: robimove 7s infinite;
}

@-webkit-keyframes robimove {
    0%   {height:412px;
        width:442px;}
    50% {width:447px;
        height: 482px;
    }
    /*75%  { width:430px;
          height: 462px;}*/
    100% {height:412px;
        width:442px;}
}

/* Standard syntax */
@keyframes robimove {
    0%   {height:412px;
        width:442px;}
    
    50% {height: 482px;
        width:447px;
        }
    /*75%  { width:430px;
        height: 462px;}*/
    100% {height:412px;
        width:442px;}
}

.juan-img{
    height:432px;
    width:375px;
    -webkit-animation: juanmove 7s infinite; /* Safari 4.0 - 8.0 */
    animation: juanmove 7s infinite;

}

@-webkit-keyframes juanmove {
    0%   { height:432px;
          width:375px;}

    50% {height: 490px;
        width:380px;
        
    }
    /*75%  { width:430px;
          height: 462px;}*/
    100% { height:432px;
        width:375px;}
}

/* Standard syntax */
@keyframes juanmove {
    0%   { height:432px;
        width:375px;}

  50% {height: 490px;
      width:380px;
      
  }
  /*75%  { width:430px;
        height: 462px;}*/
  100% { height:432px;
      width:375px;}
}