/*
body{
    height: 100%;
    margin: 0;

}
.box{
    display: block;
    background:#BBB8AF;
    border: none;
    border-radius: 40px 10px;  
    width: 200px;
    height: 50px;
    
 
 }
*/
/*

 .button-log { 
    position: absolute;
    left: 40%;
    top: 42%;

    background-image: url("../resources/login_button.png");
    width: 314;
    height: 56px;
 }

 .button-register { 
    position: absolute;
    left: 40%;
    top: 53%;

    background-image: url("../resources/register_button.png");
    width: 314;
    height: 56px;
 }

 .button-howto { 
    position: absolute;
    left: 40%;
    top: 63%;

    background-image: url("../resources/h.png");
    width: 314;
    height: 56px;
 }
 .button-top { 
    position: absolute;
    left: 40%;
    top: 74%;
    background-image: url("../resources/top_button.png");
    width: 314;
    height: 56px;
 }
*/
/*

 .monster-robi{
    position: absolute;
    left: 18%;
    top: 43%;
    background-image: url("../resources/robi_monster.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 204;
    height: 436px;

 }

 .monster-juan{
    position: absolute;
    left: 75%;
    top: 40%;
    background-image: url("../resources/Juan_monster.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 204;
    height: 436px;

 }*/
 .logo {   
     text-align:center;
     margin:2rem;
}

/*
img
{
    width 50%;
    margin:0 auto;
}
*/

/*
 .shevron {
    border: none;
    border-radius: 40px 10px;
    width: 51;
    height: 56px;
 }
*/
 
.bg {
    background-color: #212120;
    
}

a {
    color :black;
    text-decoration: none; 
}